.mainError404{
    width: 50%;
    height: 50vh;
    margin: 10% auto;
    text-align: center;
    padding:15px;
    padding-top: 20px;
    background: #1f1e1e;  
    background: -webkit-linear-gradient(to right, #1f1e1e, #23262c); 
    background: linear-gradient(to right, #1f1e1e, #23262c); 
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo" "logo" "texto" "link";
    justify-items: center;
    align-items: center;
    p{
        grid-area: texto;
        font-size: 1.5vw ;
    }
    .logo404{
        width: 35vw;
        grid-area: logo;
    }
    a{
        text-decoration: none;
        color: #000;
        background-color: $naranja;
        opacity: 0.4;
        padding: 5px;
        font-size: 2vw;
        transition: 1s;
        &:hover{
            transform: scale(1.2);
            opacity: 1;
        }
    }
}
