footer{
    background-color: $footercolor;
    height: 25vh;
    border-top: 5px double  white;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 0.4fr;
    grid-template-areas: "imagen" "redes" "copyright";
    justify-items: center;
    align-content: center;
    .footer__img{
        grid-area: imagen;
        align-self:center;
        img{
           width: 50vw;
           transition: 0.7s;
           &:hover{
            -webkit-filter: invert(100%);
            -moz-filter: invert(100%);
            filter: invert(100%);
           }
        }    
    }
    .footer__nav{
        justify-self: center;
        align-self: center;
        display: none;
        h3{
            text-decoration: underline;
            color: $naranja;
            font-weight: bold;
        }
        ul{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                transition: 0.5s;
                &:hover{
                    color:$naranja ;
                }
            }
        }
    }
    .redes{
        grid-area: redes;
        align-self: center;
        justify-self: center;
        img{
            width: 8vw;
            margin:2vw;
            transition: 0.5s;
            border-radius: 10px;
            &:hover{
                background-color: $naranja;
            }
        }
    }
    .copyright{
        grid-area: copyright;
        justify-self: center;
        align-self: center;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
   footer{
        height: 40vh;
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr, 1fr, 0.4fr;
        grid-template-areas: "imagen imagen" "footnav redes" "copyright copyright";
        justify-items: center;
        align-content: center;
        .footer__img{
            grid-area: imagen;
            img{
                width: 30vw;
            }
        }
        .footer__nav{
            display: block;
            grid-area: footnav;
        }
        .redes{
            grid-area: redes;
            img{
                margin: 20px;
                padding:8px;
                width: 4vw;
            }
        }
        .copyright{
            grid-area: copyright;

        }
    } 
}
@media only screen and (min-width:1024px){
    footer{
        height: 40vh;
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr, 1fr, 0.4fr;
        grid-template-areas: "imagen imagen" "footnav redes" "copyright copyright";
        justify-items: center;
        align-content: center;
        .footer__img{
            grid-area: imagen;
            img{
                width: 30vw;
            }
        }
        .footer__nav{
            display: block;
            grid-area: footnav;
        }
        .redes{
            grid-area: redes;
            img{
                margin: 20px;
                padding:8px;
                width: 4vw;
            }
        }
        .copyright{
            grid-area: copyright;

        }
    }
}