@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.header__noIndex{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo navbar";
    align-items: center;
    justify-items: center;
    nav{
        grid-area: navbar;
    }
    .header__logo{
        grid-area: logo;
        img{
            width: 13vw;
            transition: 0.5s;
            &:hover{
                transform: skew(12deg);
            }
        }
    }
}
.mainMerch{
    h2{
        color: $naranja;
    }
    .pre-tienda{
        text-align: center;
        margin-top: 5vh;
        font-size: 1.2em;
    }
    .ventaRopa{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        div{
            text-align: center;
            margin: 30px;
            img{
                width: 250px;
                margin-bottom: 30px;
                transition: 0.6s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .ventaDiscos{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        div{
            text-align: center;
            margin: 30px;
            img{
                width: 250px;
                margin-bottom: 30px;
                transition: 0.6s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}



button.snip0047 {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    span{
        display: inline-block;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0.8;
    }
    i{
        font-size: 22px;
        right: 15px;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    &::before{
        content: '';
        top: 0;
        right: 0;
        width: 0;
        position: absolute;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }
}
button.snip0047:hover span,
button.snip0047.hover span {
  -webkit-transform: translate3d(-20px, 0px, 0px);
  transform: translate3d(-20px, 0px, 0px);
  opacity: 1;
}
button.snip0047:hover i,
button.snip0047.hover i {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
button.snip0047:hover:before,
button.snip0047.hover:before {
  width: 44px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.snip0047.red {
    background-color: $naranja;
}


@media only screen and (min-width:768px) and (max-width:1024px) {

}
@media only screen and (min-width:1024px){
    .pre-tienda{
        font-size: 1.3em;
    }
    .mainMerch{
        .ventaRopa{
            div{
                img{
                    width: 20vw;
                }
            }
        }
        .ventaDiscos{
            div{
                img{
                    width: 20vw;
                }
            }
        }
    }
}