@import "colores";
@import "footer";
@import "index";
@import  "merch";
@import "artistas";
@import "sobre";
@import "tickets";
@import "contacto";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: #1a1c1f;
}
h2{
    font-family: 'Maven Pro', sans-serif;
    color: $naranja;
    font-size: 2em;
    font-weight: bold;
}
.h2-Portada{
    color: #fff;
    font-size: 2em;
}
h3{
    font-family: 'Maven Pro', sans-serif;
    color: $naranja;
    font-size: 1.5em;
}
p{
    font-family: 'Sarala', sans-serif;
}
#navegador{
    font-family: 'Staatliches', cursive;
}
h5{
    font-size: 1.7em;
}